version: '2'
services:
  zookeeper:
    container_name: zookeper
    image: wurstmeister/zookeeper
    ports:
      - "2181:2181"
  kafka:
    container_name: kafka
    image: wurstmeister/kafka
    ports:
      - "9092:9092"
    environment:
      - KAFKA_ADVERTISED_HOST_NAME=kafka
      - KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
      - KAFKA_CREATE_TOPICS=events:1:1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - zookeeper
  db:
    container_name: postgres
    image: postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=events
    volumes:
      - ./psql-data:/var/lib/postgresql/data
      - ./initdb:/docker-entrypoint-initdb.d
  kafka2psql:
    container_name: kafka2psql
    build: .
    depends_on:
      - db
      - kafka
